


#default{
        width: 100%;
        padding: 5px;
        height: min-content;
        background: rgb(0, 1, 2);
        background-clip: border-box;
}
.text-light{
        color: #cfd6e1 !important;
}
.d-flex{
        display: flex;
}
.w-100{
        width: 100%;
}
.text-decoration-none{
        text-decoration: none;
}
.font-size{
        font-size: 10px;
}
.justify-content-between{
        justify-content: space-between;
}
.mx-2 {
    margin-right: 2px;
    margin-left: 2px;
}
.fa-fw{
    width: 1.1em;
    text-align: center;
}
.me-2{
    margin-right: 2px;
}




.b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      
      .form-control-dark {
        color: #fff;
        background-color: var(--bs-dark);
        border-color: var(--bs-gray);
      }
      .form-control-dark:focus {
        color: #fff;
        background-color: var(--bs-dark);
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
      }
      
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      
      .text-small {
        font-size: 85%;
      }
      
      .dropdown-toggle {
        outline: 0;
      }
.mg-4{
        margin-right: 2em;
        margin-left: 2em;
}   
.logo{
        font-weight: 600 !important;
}
.h1{
        font-family: 'Roboto', sans-serif;
        font-size: 48px !important;
        
}
.navarbar{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
}
.text-ali-cen{
        text-align: center;
}
.justify-content-center{
        justify-content: center;
}
.pading li{padding-left: 50px;padding-right: 50px;}
.pading2{
        padding-left: 10px;padding-right: 10px;
}
.margin-home{
        margin-right: 5%;
        margin-left: 5%
}
.hover1{color:#cfd6e1}
.color-text{color:white}
.bg-dark1{color:#0c0238}
.h3{
        font-family: 'Roboto', sans-serif;
        font-size: 48px !important;
}
.h1{
        font-family: 'Roboto', sans-serif;
        font-size: 48px !important;
        font-weight: 200 !important;
}
.height {
        max-width: 100%;
        height: 276px;
}
.back-gr{
        background-color:#e9eef5;
}
.picture{
        height: 265px;
        width: 359px;
        max-width: 100%;
}
.card-img-top {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
.card-font{
        height: 516px;
        width: 355px;
}
.h{
        
                font-family: 'Roboto', sans-serif;
            font-size: 30px !important;
            font-weight: 600;
        
}
.h2{
        font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}
.text-size{
        color: black;
}
.body{
        font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.p{    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 600 !important;}
    
.m1{
        display: flex;
}
.m2{

        display: flex;
}


.bgfooter{background-color:#212934 }
.text-logo{color:#59ab6e}
.logof{font-weight: 500;}
.border-light-1{border-color:#2d343f}


.pt5 ul li> a{
        color: #cfd6e1;
}
.border-bottom1{
        border-bottom: 1px solid #333538 !important;;
}
.pb-3 {
        padding-bottom: 1rem !important;
    }
.pt-5-1 {
        padding-top: 3rem!important;
    }
.col-md-4-1 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
.text-light1{
        color:#cfd6e1;
}
.border-bottom2{
        border-bottom: 1px solid #f3f5f9 !important;;
}
.mb-4 {
        margin-bottom: 1.5rem!important;
    }
.border-top1{
        border-bottom: 1px solid #333538 !important;;
}
.list-inline {
        padding-left: 0;
        list-style: none;
    }
.border1{
        border-bottom: 1px solid #333538 !important;;
}
.hover {
        background-color: #cfd6e1;
        transition: .5s;
    }
.rounded-circle{
        border-radius: 50%!important;
}
.bg-black{
        background: #1d242d;
        background-clip: border-box;
}
.py-3 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
.pt-2 {
        padding-top: .5rem!important;
    }
.col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
.pt4 p > a{
        color: #cfd6e1;
}
.sr-only {
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
.text-light2{
        color:#cfd6e1;
}
.border2{
        border: 1px solid #333538 !important;;
}
.pdtop{
        padding-top: 10px;
}
.fweight{
        font-weight: 300;
}
.carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }
.template-mo-zay-hero-carousel{
        background-color: #efefef !important ;
}
.buttonslide span{
        color:#59ab6e;
        font-size:50px;
        opacity:0.6;
       }
       span#btn-prev{
         position:absolute;
         top:40%;
         left:0;
         z-index:15;
         cursor:pointer;
         margin-left:13px;
       }
       span#btn-next{
           position:absolute;
           top:40%;
           right:0;
           z-index:15;
           cursor:pointer;
           margin-right:20px;
       }
.bg-slide{
        background-color: #efefef !important ;
}
.hover2{
        color:#59ab6e ;
}


.bg-content-ab{
        background-color:#59ab6e ;
}
.text-white{
        color: #fff;
}
.p-ab{
        font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
}
.p-ab-2{
        font-family: 'Roboto', sans-serif;
        font-weight: 700 !important;
}
.shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
.h-100 {
        height: 100%!important;
    }
.services-icon-wap {
        transition: .3s;
    }
.text-success1{
        color: #59ab6e;
}
.bg-content-ab-2{
        background-color:#e9eef5 ;
}

#templatemo_nav_top {
        min-height: 40px;
    }
.bg-dark {
        background-color: #212934 !important;
    }
.d-lg-block {
        display: block!important;
    }
.navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar {
        position: relative;
       
        
        align-items: center;
        
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
.font-size-nvar{
        font-size: 12px;
}
.text-l{
        color:#cfd6e1;
}
.p-md-5 {
        padding: 3rem!important;
    }
.brand-style {
        filter: grayscale(100%);
        opacity: 0.5;
        transition: .5s;
    }
.img-font{
        height: 55px;
}
.hv:hover{
        background-color: #59ab6e;
        color: #fff;
}

.hv:hover i{
        color:#fff;
        transition: .4s;
        
}
.hv1:hover {
        filter: none;
        opacity: 1;
}
.hv-text:hover{
        color:#59ab6e ;
        transition: .4s;
}
.link-dark1{color: black;}
.nav-link1 {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
}
.header-sd{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.nvb{
        position: relative;
}
.justify-content-center{
        justify-content: center;
}
